{{template "header.html" .Header}}

<body>

  <div class="row">
    <div class="grid_8">
      <h2>Validate</h2>
      {{if .ErrorMessage}}{{.ErrorMessage}}{{else}}&nbsp;{{end}}<br>
      <form method="post" class='login_form' action="/validate" method="post">
        <span>
          <input type="text"
            name="name"
            id="name"
            autofocus="autofocus"
            placeholder="Code"
            value=""
            size="30">
          </span>
        <p></p>
        <input name="commit" type="submit" value="Validate">
      </form>
    </div>  <!-- end of grid_8 -->
  </div>  <!-- end of row -->
</body>

</html>
